<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Etes vous faits pour Mr Alves?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>A vous de jouer!</h1>
        <h2>Remplissez ce questionnaire pour voir si vous matchez avec Mr Alves</h2>
        <input type="text" id="passwordInput" placeholder="Entrez le mot de passe" />
        <button id="submitBtn">Finir le questionnaire</button>
        <p id="response"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
